.movie_container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  gap: 10px;
}

.movie{
  margin: auto;
  cursor: pointer;
    position: relative;
      overflow: hidden;
}

.movie_img{
  width:150px;
  border-radius: 10px;
}

.main_movie{
  margin: 0px 0px 20px;
  cursor: pointer;
    position: relative;
      overflow: hidden;
}

.main_movie_img{
  width: 100%;
  height: 400px;
  object-fit:cover;
  margin: auto;
  border-radius: 10px;
  display: block;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.loadingimg{
  width: 60px;
}

.mainTitle {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.smallTitle {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: black;
  width: 100%;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}