@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

.sidebar{
  width: 200px;
  height: 100%;
  /* border-right: 1px solid rgb(68, 68, 68); */
}

.apptitle{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: 'Fira Code', monospace;
  color: rgb(212, 212, 212);
  position: relative;
}

.sidebarlink{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Fira Code', monospace;
  margin: 20px 0px;
  padding: 10px;
  color: rgb(145, 145, 145);
  letter-spacing: 0.6px;
}

.sidebarlink img{
  width: 20px;
}

.sidebarlinktextactive{
  cursor: pointer;
  background: linear-gradient(to right,salmon,cornflowerblue);
  border-radius: 9999999999px;
  color: rgb(0, 0, 0);
  flex: 1;
  padding: 10px;
  text-align: center;
}

.sidebarlinktext{
  cursor: pointer;
  flex: 1;
  padding: 10px;
  text-align: center;
}

.sidebarlinktext:hover{
  background-color: rgb(46, 46, 46);
  border-radius: 9999999999px;
}

.close{
  display: none;
}


@media screen and (max-width:1000px){
  .close{
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
  }
  .closeimg{
    width: 15px;
    cursor: pointer;
  }
}