.sidebar{
  width: 200px;
  height: 100%;
  /* border-right: 1px solid rgb(68, 68, 68); */
}

.apptitle{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: "Roboto";
  color: rgb(212, 212, 212);
  position: relative;
}

.sidebarlink{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto";
  margin: 20px 0px;
  padding: 10px;
  color: rgb(145, 145, 145);
  letter-spacing: 0.6px;
}

.sidebarlink img{
  width: 20px;
}

.sidebarlinktextactive{
  cursor: pointer;
  font-weight: bold;
  color: rgb(255, 255, 255);
  flex: 1;
  padding: 10px;
  text-align: center;
}

.sidebarlinktext{
  cursor: pointer;
  flex: 1;
  padding: 10px;
  text-align: center;
}

.close{
  display: none;
}


@media screen and (max-width:1000px){
  .close{
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
  }
  .closeimg{
    width: 15px;
    cursor: pointer;
  }
}